
.weather-card {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
  }
  
  .temperature {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .weather-icon {
    width: 80px;
    height: 80px;
    margin: 5px;
  }

 h3 {
  color: white;
}

.title {
    color: whitesmoke;
  }

  .animated-gradient {
    height: 100vh;
    width: 100%;
    background: linear-gradient(0deg, #190933, #4ed8ce, #4e7bd8, #190933);
    background-size: 600% 600%;
    -webkit-animation: atmosphere 28s ease infinite;
    animation: atmosphere 28s ease infinite;
  }

  @-webkit-keyframes atmosphere {
    0% {
      background-position: 0% 0%;
    }

    50% {
      background-position: 93% 100%;
    }

    100% {
      background-position: 0% 0%;
    }
  }

  @keyframes atmosphere {
    0% {
      background-position: 0% 0%;
    }

    50% {
      background-position: 93% 100%;
    }

    100% {
      background-position: 0% 0%;
    }
  }